.submit {
    background-color: #00738C;
color:  #94F684;
    border-radius: 10px;
    height: 15%;
    width: 40%;
    margin-top: 10px;
    font-size:18px;
    position: absolute;
    left: 32%;    
} 